@font-face {
  font-family: "Rounded-M+";
  src: 
  url("../font/rounded-mplus-1m-regular.woff2") format("woff2"),
  url("../font/rounded-mplus-1m-regular.woff") format("woff"),
  url("../font/rounded-mplus-1m-regular.ttf") format("truetype");
}

@font-face {
  font-family: "Syntesia";
  src:
  url("../font/Syntesia.woff2") format("woff2"),
  url("../font/Syntesia.woff") format("woff"),
  url("../font/Syntesia.ttf") format("truetype");
}

html {
  background-color: whitesmoke;
}

body {
  color: #333;
  margin: 0;
  font-family: "Rounded-M+", Verdana, sans-serif;
}

header {
  background-color: #c0d9f0;
  height: 63px;
}

header > div {
  width: 47.42px;
}

header div a {
  cursor: pointer;
}

header > div > a > img {
  filter: invert(24%) sepia(0%) saturate(1966%) hue-rotate(119deg) brightness(108%) contrast(82%);
}

#Info_Left {
  display: flex;
  margin-left: 25px;
}

#Info_Left a {
  height: 63px;
  text-align: center;
}

#Info_Right {
  position: relative;
  top: -68px;
  margin: 0 192px 0 auto;
  display: flex;
}

#Info_Right a {
  height: 63px;
  text-align: center;
}

.homeButton {
  padding: 3px 20px 0px 20px;
  transition: 0.3s;
}

.homeButton:hover {
  transform: scale(1.06);
  backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.settings {
  padding: 5px 6px 0px 6px;
  transition: 0.3s;
}

.settings:hover {
  transform: scale(1.06);
  backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.loginButton {
  padding: 1px 12.4px 0 12.4px;
  transform: scale(1.01);
  transition: 0.3s;
}

.loginButton:hover {
  transform: scale(1.07);
  backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.signUpButton {
  padding: 0 4.2px 0 4.2px;
  transform: scale(1.01);
  transition: 0.3s;
}

.signUpButton:hover {
  transform: scale(1.07);
  backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.logoutButton {
  padding: 0 9.15px 0px 9.15px;
  transform: scale(1.01);
  transition: 0.3s;
}

.logoutButton:hover {
  transform: scale(1.07);
  backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.accountButton {
  padding: 0 6.9px 0px 6.9px;
  transform: scale(1.01);
  transition: 0.3s;
}

.accountButton:hover {
  transform: scale(1.07);
  backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.helpButton {
  padding: 2px 13px 0px 13px;
  transition: 0.3s;
}

.helpButton:hover {
  transform: scale(1.06);
  backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

#Header_hr {
  margin: 0;
  height: 8px;
  background-color: #486d94;
  border: none;
}

/* 設定画面のスタイル */

#Settings_Screen {
  opacity: 0;
}

#Setting_Contents {
  height: auto;
  padding-bottom: 40px;
}

#Setting_Contents h1 {
  position: relative;
  text-align: center;
  font-size: 32px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.settingElements h2 {
  width: 300px;
}

.select {
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  width: 130px;
  height: 36px;
  border-radius: 10px;
  cursor: pointer;
}

.checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox h2 {
  width: 186px;
}

.checkbox form {
  margin: 8px 0 8px 0;
}

#Settings_hr {
  width: 445px;
  border-width: 0 0 5px;
  border-style: solid;
  border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1"><circle fill="hsla(0, 0%, 65%, 1.0)" cx="1" cy="0.5" r="0.5"/></svg>') 0 0 100% repeat;
}

.detailsSetting {
  display: flex;
  width: 430px;
  padding-bottom: 15px;
  margin: auto;
  text-align: left;
}
.detailsSetting h2 {
  font-size: 1.4em;
  width: 300px;
  margin-top: 4.5px;
  margin-bottom: 4.5px;
}

.checkMarkButton{
  position: absolute;
  right: 0;
  left: 0;
  margin: 30px auto 0 auto;
  width: 120px;
  transition: 0.3s;
  cursor: pointer;
}

.checkMarkButton:hover {
  transform: scale(1.06);
  backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}
/* ヘルプポップアップのスタイル */

#Help_Popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.popupInner {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 65%;
  max-width: 900px;
  min-width: 700px;
  max-height: 550px;
  min-height: 400px;
  padding: 50px;
  background-color: whitesmoke;
  z-index: 2;
}

.closeButton {
  position: absolute;
  top: 18px;
  right: 25px;
  height: 60px;
  transition: 0.3s;
  z-index: 1;
}

.closeButton:hover {
  transform: scale(1.1);
}

.closeButton img {
  width: 60px;
  filter: invert(24%) sepia(0%) saturate(1966%) hue-rotate(119deg) brightness(108%) contrast(82%);
}

.background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 1;
  cursor: pointer;
}

#Help_Contents {
  font-size: 22px;
  text-align: center;
}

#Menu {
  position: relative;
  top: 60px;
}

#Help_Title {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  font-size: 32px;
}

.menuContents {
  left: 50%;
  transform: translateX(-50%);
  height: 69px;
  width: 500px;
  border-bottom: 1px solid gray;
  text-align: left;
  cursor: pointer;
}

.menuContents p {
  margin-top: 18.5px;
  margin-bottom: 18.5px;
}

.menuContents:hover {
  color: #486d94;
}

.triangle {
  display: inline-block;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid #4d4d4d;
  margin-bottom: 2px;
  transition: 0.3s;
}

#Menu1 {
  position: absolute;
  top: 0px;
}

#Menu2 {
  position: absolute;
  top: 70px;
}

#Menu3 {
  position: absolute;
  top: 140px;
}

.slide img {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 540px;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px gray;
}

.slide div {
  position: absolute;
  top: 84%;
  left: 50%;
  width: 540px;
  transform: translate(-50%, -50%);
}


.slide h1 {
  margin: 35px 0;
}

#Instr_1, #Instr_2, #Instr_3, #Instr_4 {
  opacity: 0;
}

#Instr_4 div {
  position: absolute;
  top: 30px;
  left: 50%;
  width: 590px;
  transform: translateX(-50%);
}

#Instr_4 div li {
  list-style-type: none;
  padding: 15px 0;
  text-align: start;
}

#Instr_4 div li span {
  display: inline-block;
}

#ellipses1, #ellipses2 {
  padding-left: 66px;
}

#ellipses3 {
  padding-left: 132px;
}

#ellipses4 {
  padding-left: 22px;
}
.key {
  padding-left: 22px;
}

#Mode_1, #Mode_2, #Mode_3, #Mode_4, #Mode_5, #Mode_6, #Mode_7, #Mode_8, #Mode_9, #Mode_10, #Mode_11 {
  opacity: 0;
}

#Mode_1 img {
  width: 350px;
}

#Result_1, #Result_2, #Result_3, #Result_4, #Result_5 {
  opacity: 0;
}

#Result_5 div {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 540px;
  height: 400px;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 10px gray;
  overflow: scroll;
}

#Result_5 img {
  position: absolute;
  top: 498px;
}

.return_Arrow {
  position: absolute;
  top: 10px;
  left: 20px;
  height: 77px;
  opacity: 0;
  transform: rotate(180deg);
  transition: 0.3s;
  z-index: 1;
}

.return_Arrow:hover {
  transform: scale(1.1) rotate(180deg);
}

.return_Arrow img {
  width: 77px;
  filter: invert(24%) sepia(0%) saturate(1966%) hue-rotate(119deg) brightness(108%) contrast(82%);
}

.left_Arrow {
  position: absolute;
  width: 120px;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.3s;
  cursor: pointer;
}

.left_Arrow:hover {
  transform: scale(1.1);
}

.right_Arrow {
  position: absolute;
  width: 120px;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0;
  transition: 0.3s;
  cursor: pointer;
}

.right_Arrow:hover {
  transform: scale(1.1);
}

.left_Arrow img {
  position: absolute;
  width: 80px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: invert(24%) sepia(0%) saturate(1966%) hue-rotate(119deg) brightness(108%) contrast(82%);
}

.right_Arrow img {
  position: absolute;
  width: 80px;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%) rotate(180deg);
  filter: invert(24%) sepia(0%) saturate(1966%) hue-rotate(119deg) brightness(108%) contrast(82%);
}

/* タイピングゲームのスタイル */

#Timer_Space {
  position: relative;
  top: 20px;
  left: 65px;
  width: 240px;
  font-size: 30px;
}

#Count_Down {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #486d94;
  font-size: 90px;
  opacity: 0;
}

#Finish {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #486d94;
  font-size:110px;
  opacity: 1;
}

#Typing_Space {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;
  font-size: 34px;
}

#Setting_State {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #666;
  font-size: 20px;
}

.settingStateTimeLimit {
  margin-right: 20px;
}

#Hiragana_Space {
  font-size: 26px;
}

#Romaji_Space {
  font-size: 26px;
}

#Miss_Alert {
  position: absolute;
  top: 72%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #d72500;
  font-size: 105px;
  opacity: 0;
}

#Count_Space {
  position: absolute;
  top: 90%;
  right: 65px;
  margin: 0;
  font-size: 30px;
}

.counters {
  display: inline-block;
  text-align: right;
  list-style: none;
  width: 240px;
}

.scores {
  display: inline-block;
  text-align: right;
  list-style: none;
  width: 300px;
}

#Good_Counter {
  position: absolute;
  right: 220px;
}

#Miss_Counter {
  position: absolute;
  top: 0;
  right: 0;
}

#WPM_Result {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}

#Accuracy_Result {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}

#Score_Result {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}

#Rank_Space {
  position: absolute;
  display: none;
  flex-direction: column;
  align-items: center;
  top: 90%;
  right: 65px;
  opacity: 0;
  margin: auto;
}

#Rank_Result {
  padding-top: 16px;
  opacity: 0;
}

#Rank {
  font-family: "Syntesia";
  opacity: 0;
  font-size: 0;
  color: #486d94;
}

#Restart {
  position: absolute;
  text-align: center;
  top: 85%;
  width: 100vw;
  opacity: 0;
  font-size: 30px;
}
